//  Imagenes

.main__imagen--aspecto{
    width: $mainimagenwidth;     
}
.main__imagenuperiorinferior--aspecto{
    width: $mainimagenuperiorinferiorwidth;
}

.main__imagenestexto--aspecto{
    width: $mainimagenestextowidth;
}